/*
 * SPDX-FileCopyrightText: Copyright (c) 2026 Onomondo ApS
 * SPDX-License-Identifier: GPL-3.0-only
 */

#include <softsim/thingy91_softsim_partitions.dtsi>
#include <softsim/nrf91_softsim_sram.dtsi>
