# top-most EditorConfig file
root = true

# All (Defaults)
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Assembly
[*.S]
indent_style = tab
indent_size = 8

# C
[*.{c,h}]
indent_style = tab
indent_size = 8

# C++
[*.{cpp,hpp}]
indent_style = tab
indent_size = 8

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# CMake
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2
