config SOFTSIM
    bool "SoftSIM"
    depends on NVS


config SOFTSIM_AUTO_INIT
    bool "Automatically initialize SoftSIM"
    default y
    help
        Automatically initialize SoftSIM when the modem is powered on.

module = SOFTSIM
module-str = Onomondo-SoftSIM
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
